body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #e0e0e0;
}

header {
    background-color: #282828;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: #e0e0e0;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

.user-section button {
    color: #e0e0e0;
    background-color: #424242;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.user-section button:hover {
    background-color: #555;
}
.user-section button:focus{
    outline: none;
}

main {
    display: flex;
    padding: 20px;
}

.filters {
    width: 200px;
    padding-right: 20px;
}

.filters h2 {
    margin-bottom: 10px;
}

.filters label {
    display: block;
    margin-bottom: 5px;
}

.filter-button {
    background-color: #780d52;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.filter-button:focus{
    outline: none;
}
.filter-button:hover {
    background-color: #841c61;
}

.game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.game-card {
    background-color: #282828;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 250px;
    transition: transform 0.2s;
}

.game-card:hover {
    transform: translateY(-5px);
}

.game-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.game-card h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.game-card p {
    font-size: 14px;
    color: #ccc;
}

.price {
    font-weight: bold;
    margin-top: 5px;
}

.buy-button {
    background-color: #3c427c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.buy-button:hover {
    background-color: #5a6091;
}
.download-button{
    background-color: #0077b6;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.download-button:hover {
    background-color: #00a0e2;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    position: relative;
    border-radius: 5px;
    color: black;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-content input{
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black;
    width: calc(100% - 20px);
}
.modal-content button{
    background-color: #3c427c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}
.modal-content button:hover {
    background-color: #5a6091;
}
